In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [2]:
bank = pd.read_excel("/home/jatin/ML & AI/Dataset/dataset-20200805T105332Z-001/dataset/Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)

In [3]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [4]:
bank

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

In [5]:
Y = bank['Personal Loan']
X = bank[['Income','Family','CCAvg','Education','Mortgage','Securities Account','CD Account']]

In [6]:
X1 = sm.add_constant(X)

In [7]:
Logistic = sm.Logit(Y,X1)

In [8]:
result = Logistic.fit()

Optimization terminated successfully.
         Current function value: 0.133396
         Iterations 9

In [9]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4992
Method:                           MLE   Df Model:                            7
Date:                Mon, 10 Aug 2020   Pseudo R-squ.:                  0.5781
Time:                        14:33:25   Log-Likelihood:                -666.98
converged:                       True   LL-Null:                       -1581.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                -13.7119      0.552    -24.820      0.000     -14.795     -12.629
Income                 0.0541      0.003     21.325      0.000       0.049       0.059
Family                 0.6816      0.073      9.391      0.000       0.539       0.824
CCAvg                  0.1133      0.039      2.932      0.003       0.038       0.189
Education              1.6871      0.110     15.336      0.000       1.471       1.903
Mortgage               0.0005      0.001      0.988      0.323      -0.001       0.002
Securities Account    -0.6005      0.271     -2.220      0.026      -1.131      -0.070
CD Account             2.7485      0.258     10.656      0.000       2.243       3.254
======================================================================================
"""

# Inference From Logistic regression

The Conclusions from the bank modelling can be drawn that :-

1. For p-value<0.05 i.e. Income,Family,CCAvg,Education,Securities Account,CD Account plays an important role in loan approval .

2. While,other features don't play a significat role.